./venv/*
train_test_split/*
error_data/*
actions/__pycache__/*
core/__pycache__/*
develop/*
core/*
totorial/*
db/*
test_deploy/*
results/*
tensorboard/*
data_origin/*
data_copy/*
train_test_split/*
audio_pre_proccess/*
db_copy.py/*
__pycache__/*
**/*.md
